body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h2 {
  text-align: center;
}

#content {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-top: 30px;
}

aside {
  text-align: start;
  margin-top: 90px;
  flex: 0 0 30%;
  margin-bottom: 10px;
}

#paragraph {
  flex: 0 0 70%;
  margin-bottom: 10px;
}

#owl-demo {
  width: 100%;
  margin-top: 20px;
}

#aboutUsTitle {
  margin: 0 auto;
}


aside h1 {
  color: #121212;
  font-size: 150%;
  padding: .5em 0 .25em;
}

aside h2 {
  font-size: 120%;
  padding-bottom: .25em;
}

aside img {
  padding-bottom: 1em;
}

/* the styles for the navigation list */
#nav_list ul {
  list-style: none;
  margin-left: 0px;
  margin-bottom: 1.5em;
}

#nav_list li {
  width: 150px;
  margin-bottom: .5em;
  border: 2px double #121212;
  border-radius: 20px;
  box-shadow: 3px 3px 0 0 #15aaa3;
  background-repeat: no-repeat;
  background-position: 95% center;

}

#nav_list li a {
  display: block;
  font-weight: bold;
  color: black;
  text-decoration: none;
  padding: .5em 0 .5em 1em;
}